
.itau-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-bottom: 2px solid #ff6600;
  justify-content: flex-start;
  flex-wrap: wrap;

  .logo {
    height: 50px;
  }

  h1 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #002663;
  }
}
